{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Site Artisan{% endblock %}

{% block body %}
    <!-- Titre principal -->
    <div class="text-center mb-5">
        <div class="col-12">
            {% include '/home/partials/_header.html.twig' %}
        </div>
    </div>
    <div class="container py-5">
        <!-- Services en avant -->
        <div class="row g-4 mt-5 text-center">
            <h2 class="text-center mb-4 fw-bold">Nos domaines d'expertise</h2>
            {% include '/home/partials/_domainesExpertise.html.twig' %}
        </div>

    <!-- Section photos -->
    {% include '/home/partials/_chantiers.html.twig' %}

    <!-- Témoignages (optionnel) -->
    {% include '/home/partials/_avis.html.twig' %}
        

    <!-- CTA -->
    <div class="text-center mt-5">
        <a href="{{ path('app_contact') }}" class="btn btn-primary btn-lg px-5 py-3 rounded-pill shadow-sm">Demandez votre devis gratuit</a>
    </div>

</div>
{% endblock %}
