{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Site Artisan{% endblock %}

{% block body %}
    <!-- Titre principal -->
    <div class="text-center mb-5">
        <div class="col-12">
            {% include '/home/partials/_header.html.twig' %}
        </div>
    </div>
    
    
    <div class="container">
        <!-- Services en avant -->
        <div class="py-5">
            {% include '/home/partials/_domainesExpertise.html.twig' %}
        </div>

        <!-- Section photos -->
        <div class="py-5">
            {% include '/home/partials/_chantiers.html.twig' %}
        </div>

        <!-- Témoignages (optionnel) -->
        <div class="py-5">
            {% include '/home/partials/_avis.html.twig' %}
        </div>

        <!-- CTA -->
        <div class="text-center py-5">
            <a href="{{ path('app_contact') }}" class="btn btn-primary btn-lg px-5 py-3 rounded-pill shadow-sm">Demandez votre devis gratuit</a>
        </div>
    </div>
{% endblock %}
