{# templates/home/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Site Artisan{% endblock %}

{% block body %}
    <!-- Titre principal -->
    <div class="text-center">
        <div class="col-12">
            {% include '/home/partials/_header.html.twig' %}
        </div>
    </div>

    <!-- About -->
    <div class=" mb-3  mb-md-5">
        {% include '/home/partials/_about.html.twig' %}
    </div>
    
    
    <div class="container">
        <!-- Services en avant -->
        <div class="py-5">
            {% include '/home/partials/_domainesExpertise.html.twig' %}
        </div>

        <!-- Section photos -->
        <div class="py-5">
            {% include '/home/partials/_chantiers.html.twig' %}
        </div>
    </div>

    <!-- Témoignages -->
    <div class="">
        {% include '/home/partials/_avis.html.twig' %}
    </div>

            <!-- CTA -->
    <div class="text-center py-5 cta">
        <a href="{{ path('app_contact') }}" class="btn bg-white btn-lg px-5 py-3 rounded-sm shadow-sm">Demandez votre devis gratuit</a>
    </div>
{% endblock %}
