// assets/styles/app.scss

body {
    background-color: rgb(255, 255, 255);
}


@import "~bootstrap/scss/bootstrap";

:root {
    --primary: #3A5F7D;
    --primary-dark: #2E536B;
    --primary-light: #5A7A94;
    --gray-concrete: #4D595D;
    --taupe-stone: #8B8C89;
    --beige-lime: #E6DDD4;
    --brick-brown: #A05C3D;
}

.bg-primary-dark{
    background-color: var(--primary-dark);
}

.gris-fonce {
    background-color: var(--gray-concrete);
}

.bg-beige-lime{
    background-color: var(--beige-lime);
}

.text-primary,
.nav-link {
   color: #3A5F7D !important;
}

.text-brick-brown{
    color: var(--brick-brown);
}

.text-beige-lime{
    color: var(--beige-lime);
}

.nav-link:hover {
   text-decoration: underline;
}

.brick-brown{
    color: #A05C3D !important;
}

.brick-brown-dark{
    color: #A05C3D !important;
}

.text-icon{
     color: #915236  !important;
}

.alert-info {
    --bs-alert-color: #ffffff;
    --bs-alert-bg: #5A7A94;
    --bs-alert-border-color: none !important;
}

.alert{
    margin-bottom: 0px !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary-dark);
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #3A5F7D;
    transform: translateY(-2px);
}

.btn-outline-warning {
    --bs-btn-color: #A05C3D;
    --bs-btn-border-color: #A05C3D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #A05C3D;
    --bs-btn-hover-border-color: #A05C3D;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #A05C3D;
    --bs-btn-active-border-color: #A05C3D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #A05C3D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #A05C3D;
    --bs-gradient: none;
}

.btn-outline-success {
    --bs-btn-color: #3A5F7D;
    --bs-btn-border-color: #2a4853;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2a4853;
    --bs-btn-hover-border-color: #2a4853;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2a4853;
    --bs-btn-active-border-color: #2a4853;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #2a4853;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #2a4853;
    --bs-gradient: none;
}

.btn-outline-primary {
    --bs-btn-color: #2a4853;
    --bs-btn-border-color: #2a4853;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #3A5F7D;
    --bs-btn-hover-border-color: #2a4853;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3A5F7D;
    --bs-btn-active-border-color: #2a4853;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #2a4853;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #2a4853;
    --bs-gradient: none;
}

/* Désactiver la box-shadow pour les champs Bootstrap */
.form-control:focus {
    box-shadow: none !important;
}

/* Animation card */
.card-animation {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-animation:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}
/* Pagination */
.pagination {
    gap: 0.5rem;
}

.page-item.active .page-link {
    background-color: #3A5F7D;
    border-color: #2E536B;
    color: #fff;
    font-weight: bold;
}

.page-link {
    color: #3A5F7D;
    border-radius: 0.25rem;
}


/* Footer */
.cta {
    background-color: var(--brick-brown);
    color: var(--primary-dark);
    text-align: center;
    padding: 3rem 1rem;
}

.footer {
    background-color: var(--primary-dark);
    color: white;
    text-align: center;
    padding: 2rem 0;
}